@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #2E2E2E;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
@media only screen and (min-width: 600px) {
    body {
        width: 40%;
        margin: 0 auto;
    }
}